<h1>Lists</h1>
  <% if @lists.present? %>
    <% @lists.each do |list| %>
      <ul class ='list'>
        <li>
          <%= link_to list.description, list %>
        </li>
      </ul>
    <% end %>
  <% else %>
    You don't have any list created
  <% end %>

<div class="well">
  <%= link_to 'Add a new list', new_list_path, :class => 'btn btn-primary' %>
</div>

