<td>
  <p class="text-center text-info">Tasks</p>
  <ol>
    <% list.tasks.each do |task| %>
      <li><%= task.description %></li>
    <% end %>
  </ol>
</td>
<td class='small'><img src="assets/close.png" class="img-rounded"></td>
