<% @list.tasks.each do |task| %>
  <li><strong>
    <%= link_to "#{task.description}", 
      list_task_path(@list, task), 
      :method => :delete, 
      :remote => true,
      :title => "Remove" %>
  </strong></li>
<% end %>
